.w3-group {
        position:relative;
        margin-top:5px;
        margin-bottom:5px;
}

.w3-inline{
        float: left;
}
.w3-input,.w3-textarea {padding:10px;display:block;border:none;border-bottom:1px solid #808080;}
.w3-label {
        position:absolute;
        top:0;
        left:0;
        color:#009688;
        transition:0.2s ease all;
        -moz-transition:0.2s ease all;
        -webkit-transition:0.2s ease all;
}

.w3-input:focus ~ .w3-label,.w3-input:valid ~ .w3-label,.w3-textarea:focus ~ .w3-label,.w3-textarea:valid ~ .w3-label
{
        top:-10px;
        font-size:14px;
        color:#888;
}
